Repository nguyenvanhoangnhan/pomme: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-api-ci, run-web-ci

feat: implement admin pages (#59)
  api-laravel/app/Http/Controllers/API/AccessoryController.php
  api-laravel/app/Http/Controllers/API/ClothesController.php
  api-laravel/app/Http/Controllers/API/OrderController.php
  api-laravel/app/Http/Controllers/API/ProductController.php
  api-laravel/app/Http/Controllers/API/ShoeController.php
  api-laravel/database/seeders/DatabaseSeeder.php
  api-laravel/routes/api.php
  web/.env.example
  web/components.d.ts
  web/src/components/page/admin/products/Selections.vue
  web/src/components/page/products/SideFilter.vue
  web/src/layouts/admin/index.vue
  web/src/layouts/organisms/Header/HeaderTop/index.vue
  web/src/layouts/organisms/admin/Sidebar/index.vue
  web/src/router/index.ts
  web/src/stores/auth.ts
  web/src/stores/products.ts
  web/src/types/global.d.ts
  web/src/views/404/index.vue
  web/src/views/admin/index.vue
  web/src/views/admin/orders/_id/index.vue
  web/src/views/admin/orders/index.vue
  web/src/views/admin/products/create/accessory/index.vue
  web/src/views/admin/products/create/clothes/index.vue
  web/src/views/admin/products/create/index.vue
  web/src/views/admin/products/create/shoe/index.vue
  web/src/views/admin/products/edit/accessory/_id/index.vue
  web/src/views/admin/products/edit/clothes/_id/index.vue
  web/src/views/admin/products/edit/shoe/_id/index.vue
  web/src/views/admin/products/list/index.vue
  web/src/views/admin/users/index.vue
  web/src/views/checkout/index.vue
  web/src/views/login/index.vue
  web/src/views/order/_id/index.vue
Due: run-api-ci, run-web-ci

Update README.md
  README.md
Due: none

ci(web): Update web environment variables
  web/Dockerfile
Due: run-web-ci

fix(web): fix auto redirect to login page when user havent logged in
  web/src/router/index.ts
  web/src/views/login/index.vue
Due: run-web-ci

fix(web): fix auto redirect to login page when user havent logged in (#61)
  web/src/router/index.ts
  web/src/views/login/index.vue
Due: run-web-ci

fix(web): fix redirect to login page from products page
  web/src/router/index.ts
Due: run-web-ci

abc
  api-laravel/app/Http/Controllers/API/UserController.php
  web/src/components/page/cart/CartProductItem.vue
  web/src/stores/cart.ts
Due: run-api-ci, run-web-ci

chore: update seeder
  api-laravel/database/seeders/DatabaseSeeder.php
Due: run-api-ci

fix(api_laravel): fix build failed caused by syntax
  api-laravel/database/seeders/DatabaseSeeder.php
Due: run-api-ci

add changelog.md
  CHANGELOG.md
  Package/LICENSE
  Package/pyproject.toml
  Package/setup.cfg
  Package/src/mypackage/__init__.py
  Package/src/mypackage/kaito.py
Due: none

chore: Add CHANGELOG file
  CHANGELOG.md
Due: none

chore: remove unnecessary
  api/.env.example
  api/.vscode/settings.json
  api/Dockerfile
  api/__init__.py
  api/api/__init__.py
  api/api/asgi.py
  api/api/settings.py
  api/api/urls.py
  api/api/wsgi.py
  api/manage.py
  api/requirements.txt
  api/shoesshop/ProductOrderView.py
  api/shoesshop/__init__.py
  api/shoesshop/accessoryView.py
  api/shoesshop/admin.py
  api/shoesshop/apps.py
  api/shoesshop/clothesView.py
  api/shoesshop/imageView.py
  api/shoesshop/migrations/0001_initial.py
  api/shoesshop/migrations/__init__.py
  api/shoesshop/models.py
  api/shoesshop/productView.py
  api/shoesshop/serializer.py
  api/shoesshop/shoeView.py
  api/shoesshop/tests.py
  api/shoesshop/urls.py
  api/shoesshop/views.py
Due: none

Path conditions:
  run-api-ci: any of: api-laravel/.*
  run-web-ci: any of: web/.*
