Repository nguyenvanhoangnhan/pomme: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-api-ci, run-web-ci

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            api-laravel/.* run-api-ci true
            web/.* run-web-ci true
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue_config.yml

Feature/add api (#50)
  api/api/settings.py
  api/requirements.txt
  api/shoesshop/ProductOrderView.py
  api/shoesshop/productView.py
  api/shoesshop/serializer.py
  api/shoesshop/shoeView.py
  api/shoesshop/urls.py
  api/shoesshop/views.py
Due: none

feat(web): integrate products api
  api-laravel/app/Http/Controllers/API/ProductController.php
  api-laravel/app/Http/Controllers/API/ShoeController.php
  api-laravel/app/Http/Controllers/API/UserController.php
  api-laravel/database/seeders/DatabaseSeeder.php
  web/components.d.ts
  web/src/App.vue
  web/src/components/common/ProductCard/index.vue
  web/src/components/common/ViewedProducts.vue
  web/src/components/page/cart/ProductItem.vue
  web/src/components/page/products/SideFilter.vue
  web/src/layouts/default/index.vue
  web/src/layouts/home/index.vue
  web/src/layouts/organisms/Header/HeaderBottom/index.vue
  web/src/layouts/organisms/Header/HeaderTop/index.vue
  web/src/layouts/organisms/Sidecart/index.vue
  web/src/stores/auth.ts
  web/src/stores/cart.ts
  web/src/stores/loading.ts
  web/src/stores/products.ts
  web/src/stores/viewedProducts.ts
  web/src/style.less
  web/src/types/global.d.ts
  web/src/views/cart/index.vue
  web/src/views/login/index.vue
  web/src/views/product/accessory/_id/index.vue
  web/src/views/product/clothes/_id/index.vue
  web/src/views/product/shoe/_id/index.vue
  web/src/views/products/index.vue
Due: run-api-ci, run-web-ci

feat(web): integrate products api (#51)
  api-laravel/app/Http/Controllers/API/ProductController.php
  api-laravel/app/Http/Controllers/API/ShoeController.php
  api-laravel/app/Http/Controllers/API/UserController.php
  api-laravel/database/seeders/DatabaseSeeder.php
  web/components.d.ts
  web/src/App.vue
  web/src/components/common/ProductCard/index.vue
  web/src/components/common/ViewedProducts.vue
  web/src/components/page/cart/ProductItem.vue
  web/src/components/page/products/SideFilter.vue
  web/src/layouts/default/index.vue
  web/src/layouts/home/index.vue
  web/src/layouts/organisms/Header/HeaderBottom/index.vue
  web/src/layouts/organisms/Header/HeaderTop/index.vue
  web/src/layouts/organisms/Sidecart/index.vue
  web/src/stores/auth.ts
  web/src/stores/cart.ts
  web/src/stores/loading.ts
  web/src/stores/products.ts
  web/src/stores/viewedProducts.ts
  web/src/style.less
  web/src/types/global.d.ts
  web/src/views/cart/index.vue
  web/src/views/login/index.vue
  web/src/views/product/accessory/_id/index.vue
  web/src/views/product/clothes/_id/index.vue
  web/src/views/product/shoe/_id/index.vue
  web/src/views/products/index.vue
Due: run-api-ci, run-web-ci

feat(web): integrate cart api
  api-laravel/app/Http/Controllers/API/OrderController.php
  api-laravel/app/Http/Controllers/API/ShoeController.php
  api-laravel/app/Http/Controllers/API/UserController.php
  api-laravel/app/Models/Order.php
  api-laravel/app/Models/User.php
  api-laravel/database/migrations/2022_11_29_015120_create_orders_table.php
  api-laravel/database/seeders/DatabaseSeeder.php
  api-laravel/routes/api.php
  web/.env.example
  web/components.d.ts
  web/package.json
  web/src/App.vue
  web/src/components/atoms/TagCanceled.vue
  web/src/components/atoms/TagShipping.vue
  web/src/components/common/ProductCard/index.vue
  web/src/components/common/ViewedProducts.vue
  web/src/components/page/cart/ProductItem.vue
  web/src/components/page/order/Order.vue
  web/src/components/page/order/OrderProduct.vue
  web/src/layouts/organisms/Sidecart/SideCartItem.vue
  web/src/layouts/organisms/Sidecart/index.vue
  web/src/main.ts
  web/src/stores/cart.ts
  web/src/stores/loading.ts
  web/src/stores/lovedProducts.ts
  web/src/stores/order.ts
  web/src/stores/products.ts
  web/src/types/global.d.ts
  web/src/views/cart/index.vue
  web/src/views/order/_id/index.vue
  web/src/views/orders/index.vue
  web/src/views/product/accessory/_id/index.vue
  web/src/views/product/clothes/_id/index.vue
  web/src/views/product/shoe/_id/index.vue
Due: run-api-ci, run-web-ci

feat(web): integrate cart api (#52)
  api-laravel/app/Http/Controllers/API/OrderController.php
  api-laravel/app/Http/Controllers/API/ShoeController.php
  api-laravel/app/Http/Controllers/API/UserController.php
  api-laravel/app/Models/Order.php
  api-laravel/app/Models/User.php
  api-laravel/database/migrations/2022_11_29_015120_create_orders_table.php
  api-laravel/database/seeders/DatabaseSeeder.php
  api-laravel/routes/api.php
  web/.env.example
  web/components.d.ts
  web/package.json
  web/src/App.vue
  web/src/components/atoms/TagCanceled.vue
  web/src/components/atoms/TagShipping.vue
  web/src/components/common/ProductCard/index.vue
  web/src/components/common/ViewedProducts.vue
  web/src/components/page/cart/ProductItem.vue
  web/src/components/page/order/Order.vue
  web/src/components/page/order/OrderProduct.vue
  web/src/layouts/organisms/Sidecart/SideCartItem.vue
  web/src/layouts/organisms/Sidecart/index.vue
  web/src/main.ts
  web/src/stores/cart.ts
  web/src/stores/loading.ts
  web/src/stores/lovedProducts.ts
  web/src/stores/order.ts
  web/src/stores/products.ts
  web/src/types/global.d.ts
  web/src/views/cart/index.vue
  web/src/views/order/_id/index.vue
  web/src/views/orders/index.vue
  web/src/views/product/accessory/_id/index.vue
  web/src/views/product/clothes/_id/index.vue
  web/src/views/product/shoe/_id/index.vue
Due: run-api-ci, run-web-ci

feat(api-laravel): Add log for all requests
  api-laravel/app/Http/Middleware/Logging.php
Due: run-api-ci

fix(api-laravel): fix lint for camelCase
  api-laravel/app/Http/Middleware/Logging.php
Due: run-api-ci

feat:add python publish package
  Package/LICENSE
  Package/pyproject.toml
  Package/setup.cfg
  Package/src/mypackage/__init__.py
  Package/src/mypackage/kaito.py
Due: none

feat(api-laravel): Change log time to json
  api-laravel/app/Http/Middleware/Logging.php
Due: run-api-ci

fix(api-laravel): fix lint in log message
  api-laravel/app/Http/Middleware/Logging.php
Due: run-api-ci

fix(web): fix ts errors
  web/components.d.ts
  web/package.json
  web/src/App.vue
  web/src/assets/NoImage.ts
  web/src/components/page/products/SideFilter.vue
  web/src/stores/auth.ts
  web/src/stores/cart.ts
  web/src/views/order/_id/index.vue
  web/src/views/register/index.vue
  web/src/views/reset-password/auth-otp/index.vue
  web/src/views/reset-password/index.vue
Due: run-web-ci

fix(web): fix ts errors (#53)
  web/components.d.ts
  web/package.json
  web/src/App.vue
  web/src/assets/NoImage.ts
  web/src/components/page/products/SideFilter.vue
  web/src/stores/auth.ts
  web/src/stores/cart.ts
  web/src/views/order/_id/index.vue
  web/src/views/register/index.vue
  web/src/views/reset-password/auth-otp/index.vue
  web/src/views/reset-password/index.vue
Due: run-web-ci

feat(web): Change docker entrypoint and build
  web/Dockerfile
Due: run-web-ci

feat(web): Preview for all hosts in web application
  web/Dockerfile
Due: run-web-ci

ci(web): Change expose port for web
  web/Dockerfile
Due: run-web-ci

feat(web): integrate register api and fix cart price
  api-laravel/app/Http/Controllers/API/AuthController.php
  web/src/components/page/cart/ProductItem.vue
  web/src/layouts/organisms/Sidecart/SideCartItem.vue
  web/src/stores/auth.ts
  web/src/stores/cart.ts
  web/src/types/global.d.ts
  web/src/views/home/index.vue
  web/src/views/login/index.vue
  web/src/views/product/accessory/_id/index.vue
  web/src/views/product/clothes/_id/index.vue
  web/src/views/product/shoe/_id/index.vue
  web/src/views/register/index.vue
Due: run-api-ci, run-web-ci

feat(web): integrate register api and fix cart price (#54)
  api-laravel/app/Http/Controllers/API/AuthController.php
  web/src/components/page/cart/ProductItem.vue
  web/src/layouts/organisms/Sidecart/SideCartItem.vue
  web/src/stores/auth.ts
  web/src/stores/cart.ts
  web/src/types/global.d.ts
  web/src/views/home/index.vue
  web/src/views/login/index.vue
  web/src/views/product/accessory/_id/index.vue
  web/src/views/product/clothes/_id/index.vue
  web/src/views/product/shoe/_id/index.vue
  web/src/views/register/index.vue
Due: run-api-ci, run-web-ci

ci(web): Add environment for web on build
  web/Dockerfile
Due: run-web-ci

chore: Update README.md
  README.md
Due: none

ci(web): Add VITE_CLOUDINARY_URL environment variable for web Docker build
  web/Dockerfile
Due: run-web-ci

ci(web): Build with npm instead of yarn
  web/Dockerfile
Due: run-web-ci

ci: Add deploy job to pipeline
  .circleci/continue_config.yml
Due: none

ci: Change build tool from npm to yarn
  web/Dockerfile
Due: run-web-ci

ci: Configure vite preview for all hosts, fix machine image cirlce ci
  .circleci/continue_config.yml
  web/Dockerfile
  web/package.json
Due: run-web-ci

ci: fix typo
  .circleci/continue_config.yml
Due: none

feat(web): integrate checkout order api
  api-laravel/app/Http/Controllers/API/OrderController.php
  web/components.d.ts
  web/src/components/page/cart/CartProductItem.vue
  web/src/components/page/checkout/CheckOutProductItem.vue
  web/src/stores/area.ts
  web/src/stores/order.ts
  web/src/types/global.d.ts
  web/src/views/cart/index.vue
  web/src/views/checkout/index.vue
  web/src/views/order/_id/index.vue
Due: run-api-ci, run-web-ci

feat(web): integrate checkout order api (#56)
  api-laravel/app/Http/Controllers/API/OrderController.php
  web/components.d.ts
  web/src/components/page/cart/CartProductItem.vue
  web/src/components/page/checkout/CheckOutProductItem.vue
  web/src/stores/area.ts
  web/src/stores/order.ts
  web/src/types/global.d.ts
  web/src/views/cart/index.vue
  web/src/views/checkout/index.vue
  web/src/views/order/_id/index.vue
Due: run-api-ci, run-web-ci

Create LICENSE
  LICENSE
Due: none

Create LICENSE (#57)
  LICENSE
Due: none

feat(operations): Add configuration logging, deploying
  operations/deploy-server/compose.yaml
  operations/deploy-server/deploy.sh
  operations/deploy-server/flask-server.py
  operations/logging/README.md
  operations/logging/filebeat/filebeat.yaml
  operations/logging/kibana/export.ndjson
  operations/logging/logstash/conf.d/02-beats-input.conf
  operations/logging/logstash/conf.d/30-elasticsearch-output.conf
  operations/nginx-reverse-proxy/nginx.conf
Due: none

feat(operations/logging): Add demo images
  operations/logging/README.md
Due: none

feature: Add deploying, logging, Nginx configurations (#58)
  operations/deploy-server/compose.yaml
  operations/deploy-server/deploy.sh
  operations/deploy-server/flask-server.py
  operations/logging/README.md
  operations/logging/filebeat/filebeat.yaml
  operations/logging/kibana/export.ndjson
  operations/logging/logstash/conf.d/02-beats-input.conf
  operations/logging/logstash/conf.d/30-elasticsearch-output.conf
  operations/nginx-reverse-proxy/nginx.conf
Due: none

feat:update version python package 0.0.3
  packagePython/LICENSE
  packagePython/pyproject.toml
  packagePython/setup.cfg
  packagePython/src/mypackage/__init__.py
  packagePython/src/mypackage/customSort.py
Due: none

feat: implement admin pages
  api-laravel/app/Http/Controllers/API/AccessoryController.php
  api-laravel/app/Http/Controllers/API/ClothesController.php
  api-laravel/app/Http/Controllers/API/OrderController.php
  api-laravel/app/Http/Controllers/API/ProductController.php
  api-laravel/app/Http/Controllers/API/ShoeController.php
  api-laravel/database/seeders/DatabaseSeeder.php
  api-laravel/routes/api.php
  web/.env.example
  web/components.d.ts
  web/src/components/page/admin/products/Selections.vue
  web/src/components/page/products/SideFilter.vue
  web/src/layouts/admin/index.vue
  web/src/layouts/organisms/Header/HeaderTop/index.vue
  web/src/layouts/organisms/admin/Sidebar/index.vue
  web/src/router/index.ts
  web/src/stores/auth.ts
  web/src/stores/products.ts
  web/src/types/global.d.ts
  web/src/views/404/index.vue
  web/src/views/admin/index.vue
  web/src/views/admin/orders/_id/index.vue
  web/src/views/admin/orders/index.vue
  web/src/views/admin/products/create/accessory/index.vue
  web/src/views/admin/products/create/clothes/index.vue
  web/src/views/admin/products/create/index.vue
  web/src/views/admin/products/create/shoe/index.vue
  web/src/views/admin/products/edit/accessory/_id/index.vue
  web/src/views/admin/products/edit/clothes/_id/index.vue
  web/src/views/admin/products/edit/shoe/_id/index.vue
  web/src/views/admin/products/list/index.vue
  web/src/views/admin/users/index.vue
  web/src/views/checkout/index.vue
  web/src/views/login/index.vue
  web/src/views/order/_id/index.vue
Due: run-api-ci, run-web-ci

lint(api_laravel): fix lint
  api-laravel/app/Http/Controllers/API/OrderController.php
Due: run-api-ci
